{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <h1>ثبت نام</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form_register.as_p }}
                    <button class="btn btn-custom" type="submit">submit</button>

                </form>
                <p>دارای حساب کاربری هستید؟<a href="{% url 'user-login' %}"><b> وارد شوید</b></a></p>
            </div>
        </div>
    </div>


{% endblock %}