{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>تماس با ما</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                {#                <p>Get In Touch</p>#}
                <h2>سام ایمن ویستا</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info">
                        <h2>اطلاعات </h2>
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="contact-info-text">
                                <h3>ساعت باز شدن</h3>
                                <p>شنبه - پنج شنبه, 17:00-8:00</p>
                            </div>
                        </div>
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-info-text">
                                <h3>تماس با ما</h3>
                                <p>+012 345 6789</p>
                            </div>
                        </div>
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="contact-info-text">
                                <h3>ایمیل</h3>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" method="post" novalidate="novalidate">
                            <div class="control-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">ارسال پیام</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d202.9518077904819!2d51.12761742096908!3d35.523340102471295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2LTZh9ix2qkg2LXZhti52KrbjCDYstmI2KfYsdmHINin24wg2YXYrNiq2YXYuSDYs9in2YXYp9mG!5e0!3m2!1sfa!2s!4v1706624828071!5m2!1sfa!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}

